services:
  db:
    image: postgres:17
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - .:/rails
    command: ./bin/rails server -b 0.0.0.0

  redis:
      image: redis:7-alpine
      restart: always
      volumes:
        - redis_data:/data
      ports:
        - "6337:6379"

  sidekiq:
    build: .
    command: bundle exec sidekiq
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/rails

volumes:
  postgres_data:
  redis_data:
